.security-margin {
  margin-top: 20px;
}

.ismax {
  color: green;
}

.page {
  padding: 60px;
  padding-top: 30px;
}

.security-margin-bottom {
  margin-bottom: 20px;
}

@media (max-width: 766px) {
  .page {
    padding: 0px;
  }
}
